a {
  color: #cf216a;
}

.toggle-slider {
  background-color: #c0ff36;
}

.toggle-widget {
  background-color: #c0ff36;
}

.eas-nav_dropdown-link--mini:hover {
  color: #c0ff36;
}

@media (max-width: 1279px) {
  .eas-nav-vertical_link:hover,
  .eas-nav-vertical_link--current {
    color: #c0ff36;
  }

  .eas-nav_item--dropdown-open .eas-nav-vertical_link {
    color: #c0ff36;
  }
}

@media (min-width: 1280px) {
  .eas-nav-vertical--stuck .eas-nav_item--dropdown-mini:hover,
  .eas-nav_item--dropdown-mini.eas-nav-vertical_item--solid:hover {
    color: #c0ff36;
  }
}

.nav-vertical .nav-item--buy > .nav-link:hover {
  color: #181818;
}

.nav-tertiary .nav-link:hover,
.nav-tertiary .nav-link.current {
  color: #fce417;
}

.nav-common.game .nav-link:hover,
.nav-common.social .nav-link:hover,
.nav-common.games .nav-link:hover,
.nav-common.services .nav-link:hover,
.nav-common.store .nav-link:hover,
.header-tab:hover {
  color: #c0ff36;
}

.nav-section_label,
.nav-section_link:hover,
.nav-section_link--current,
.header-tab.current-tab {
  color: #c0ff36;
}

.nav-section_label-icon:before {
  border-bottom-color: #c0ff36;
  border-right-color: #c0ff36;
}

.js .footer-contextual-inner .discover-item:hover {
  color: #c0ff36;
}

.heading-primary:after,
.heading-secondary:after,
.filter_header {
  border-bottom-color: #c0ff36;
}

.current .jump-navigation_link:after,
.jump-navigation_link:hover:after {
  background-color: #c0ff36;
}

.dropdown:after,
.dropdown--platform:after {
  border-color: #cf216a;
}

.dropdown-label,
.dropdown-value,
.dropdown-link:hover,
.current .dropdown-link {
  color: #cf216a;
}

.dropdown--platform .dropdown-value,
.dropdown--platform .dropdown-link:hover,
.dropdown--platform .current .dropdown-link {
  background-color: #cf216a;
}

.challenge-type,
.achievement-type {
  color: #c0ff36;
}

.buy-sub-choice .sub-choice-link:hover,
.buy-sub-choice .current .sub-choice-link {
  background-color: #cf216a;
}

.discover-bar--news .discover-link {
  color: #cf216a;
}

.price-copy,
.redeem-category {
  color: #c0ff36;
}

.related-item:hover .related-item-title {
  color: #c0ff36;
}

.carousel-indicators li.active {
  background-color: #c0ff36;
}

.btn-arrow:hover:after {
  border-color: #c0ff36;
}

.cta_title:after {
  border-bottom-color: #c0ff36;
}

.action_link {
  color: #cf216a;
}

.action_link:after {
  border-color: #cf216a;
}

.action_link:hover {
  border-color: #cf216a;
}

.youtube-player:after {
  border-left-color: #c0ff36;
}

.eas-cta--primary,
.eas-cta--primary:hover {
  color: currentColor;
}

.btn--primary,
.eas-cta--primary.eas-cta--dark:before,
.eas-cta--primary:before {
  background-color: #c0ff36;
  border-color: #c0ff36;
}

.btn--primary:hover,
.tile:hover .btn--primary,
.tile:hover .icon-cta-arrow {
  background-color: #fce417;
}

.tile:hover .btn-arrow:before {
  border-color: #fce417;
}

.btn--secondary {
  color: #cf216a;
}

input[type=checkbox]:checked + label:after,
.form-success-message:before {
  border-bottom-color: #cf216a;
  border-right-color: #cf216a;
}

.form-hint:before {
  background-color: #c0ff36
}

.dk_container a,
.dk_container a:hover {
  color: #cf216a;
}

.tag_filter_header:after,
.dk_toggle:after {
  border-bottom-color: #cf216a;
  border-right-color: #cf216a;
}

.privacy-link {
  color: #c0ff36;
}

.fb-widget {
  color: #c0ff36;
}

.tag_filter_header > .filter-close,
.current-tag {
  color: #cf216a
}

.tip_title > a:hover {
  color: #cf216a
}

.franchise_color {
  color: #c0ff36 !important;
}

.franchise_color-secondary {
  color: #cf216a !important;
}

.franchise_color--border {
  border-color: #c0ff36 !important;
}

.franchise_color--border-left {
  border-left-color: #c0ff36 !important;
}

.franchise_color--secondary-border {
  border-color: #cf216a !important;
}

.franchise_color--secondary-border-left {
  border-left-color: #cf216a !important;
}

.franchise_color--border-right {
  border-right-color: #c0ff36 !important;
}

.franchise_color--border-top {
  border-top-color: #c0ff36 !important;
}

.franchise_color--border-bottom {
  border-bottom-color: #c0ff36 !important;
}

.franchise_color--background {
  background-color: #c0ff36 !important;
}

.franchise_color--hover:hover {
  color: #c0ff36 !important;
}

.franchise-color--secondary-background {
  background-color: #cf216a !important;
}

.beta-register-form_radio:checked + .beta-register-form_platform-label .beta-register-form_platform-icon {
  fill: #cf216a;
}

.beta-register-form_platform:after {
  color: #cf216a;
}

.beta-register-form_platform-icon .beta-register-form_platform--selected,
.beta-register-form_platform-current .beta-register-form_platform-icon {
  fill: #cf216a;
}

.beta-register-form_platform-value {
  fill: #cf216a;
}
